.table-container {
	flex: none;
}

.exchange-container__table {
    justify-content: center;
}

.table-container .table-container__next-table img {
    display: none;
}

.table-container .table-container__prev-table img {
	display: none;
}

#table-comisions {
    margin-left: 5rem;
}

.product-cards__container {
    min-width: 750px;
    max-width: 930px;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin: 0 auto;
}

