/*
ORDEN DE LOS ESTILOS

1. Anchos y Alturas
2. Posicionamiento
3. Modelo Caja
4. Tipografía
5. Visalues
6. Miscelaneo

*/

:root {
	--bitcoin-orange: #F7931A;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #201e1c;
	--black: #282623;
	--grey: #bababa;
	--off-white: #FAF8F7;
	--just-white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;
}

header {
	width: 100%;
	min-width: 320px;
	height: 33.4rem;


	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
	width: 15.1rem;
	height: 2.4rem;
	margin-top: 6rem;
}

.header__title-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 21.8rem;

	margin-top: 5rem;
}

.header__title-container h1 {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.6rem;

	color: var(--just-white);
}

.header__title-container p {
	margin-top: 2.5rem;

	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;

	color: var(--soft-orange);
}

.header__title-container .header__button {
	width: 22.9rem;
	height: 4.8rem;

	position: absolute;
	/* 
	COMO SE HACEN LOS CALCULOS?

	IMPORTANTE QUE EL "header" tenga el position relative, ya que embaze
	a el se toma el 100%

	Para el top, recordemos que lo podemos leer como "la distancia entre
	arriba y el elemento", por lo que con 100% lo ponemos hasta abajo. Los
	2.4rem vienen porque el boton mideen total de altura 4.8rem, 
	y restandole la mitad conseguimos que quede entre las 2 secciones.

	Para el left, la idea es la misma, "la distancia entre la
	izquierda y el elemento" debe de ser del 50% para que este en el medio,
	menos 11.45rem, que es la mitad del ancho total del boton, que son 22.9rem

	*/
	top: calc(100% - 2.4rem);
	left: calc(50% - 11.45rem);

	padding: 1.2rem 1.6rem;

	background-color: var(--off-white);
	box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 0.4rem;
}

.header__button a {
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;

	color: var(--black);
}

.header__button span {
	width: 1.3rem;
	height: 0.8rem;

	/*Para que se vea la imagen de la flecha*/
	display: inline-block;

	margin-left: 1rem;

	background-image: url("./assets/icons/down-arrow.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {
	width: 100%;
	min-width: 320px;
	height: auto;

	background-color: var(--off-white);
}

.exchange-container {
	width: 100%;
	/* La altura depende del contenido, se puede achicar o agrandar*/
	height: auto;

	padding-top: 8rem;
	padding-bottom: 3rem;

	text-align: center;
}

.exchange-container .background-img {
	width: 19.5rem;
	height: 19.5rem;

	margin: 0 auto 5rem;

	background-image: url("./assets/img/Bitcoin.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.exchange-container__title {
	width: 90%;
	min-width: 288px;
	max-width: 900px;

	margin: 0 auto;
}

.exchange-container__title h2 {
	margin-bottom: 3rem;

	font-size: 2.4rem;
	font-weight: 700;
	line-height: 2.6rem;

	color: var(--warm-black);
}

.exchange-container__title p {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;

	color: #757575;
}

.exchange-container__table {
	width: 100%;

	display: flex;

	/*Nos sirve para generar un scroll horizontal*/
	overflow: scroll;
	/* Nos da un efecto suavizado en lugar de teletransportarnos*/
	scroll-behavior: smooth;
}

/* Eliminamos la barra de scroll, para que no se vea */
.exchange-container__table::-webkit-scrollbar {
	display: none;
}

/* 
Usando flexbox, 
indicamos que cada tabla debe ocupar 
un espacio de 1 y el 100
*/
.table-container {
	position: relative;
	flex: 1 0 100%;
}

.exchange-container__table .table-container h3 {
	/* Tanto el titulo como el grid tienen el mismo width
	esto va ayudara a posicionar y centrar todo mejor*/
	width: 60%;

	margin: 5rem auto 1.2rem auto;
	/* Posicionando el titulo a ojo de buen cubero*/
	padding-left: 1.5rem;

	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	text-align: left;

	color: var(--bitcoin-orange);
}

.table-container__grid {
	width: 60%;
	min-width: 235px;
	max-width: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin: 0 auto;

	background-color: var(--just-white);
	border-radius: 0.8rem;
}

.table-container__grid .table-container__grid-child {
	padding: 1rem 1.2rem 1rem 1.2rem;

	font-family: "Inter", sans-serif;

	border-bottom: 0.15rem solid var(--off-white);
}

.table-container__grid .table-container__grid-child--name {
	font-weight: 500;
	font-size: 1.6rem;
	text-align: left;

	border-right: 0.15rem solid var(--off-white);
	color: #B5B0AC;
}

.table-container__grid .table-container__grid-child--value {
	display: flex;
	justify-content: space-around;
	align-items: center;

	font-weight: 400;
	font-size: 1.4rem;

	color: #757575;
}

.table-container__grid-child--value span {
	width: 1.1rem;
	height: 0.6rem;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.table-container__grid-child--value .grid-child--value-down {
	background-image: url("./assets/icons/trending-down.svg");
}

.table-container__grid-child--value .grid-child--value-up {
	background-image: url("./assets/icons/trending-up.svg");
}

.table-container .table-container__today-date {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 19rem;
	height: 3.1rem;

	margin: 2rem auto 0;
	padding: 0.8rem;

	font-family: "Inter", sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.5rem;

	color: var(--warm-black);
	background-color: var(--soft-orange);
	border-radius: 0.8rem;
}

.table-container .table-container__today-date span {
	font-weight: 700;
}

.exchange-container__table .table-container--comisions h3 {
	color: var(--secondary-blue);
}

.table-container--comisions .table-container__today-date {
	background-color: var(--soft-blue);
}

.table-container .table-container__next-table img {
	position: absolute;
	right: 3rem;
	top: calc(50% + 0.8rem);
}

.table-container .table-container__prev-table img {
	position: absolute;
	left: 3rem;
	top: calc(50% + 0.8rem);
}

.main-product-detail {
	position: relative;

	width: 100%;
	min-width: 320px;
	height: auto;

	padding: 2rem 1rem;

	background-color: var(--warm-black);
}

.product-detail__icon {
	position: absolute;

	width: 4rem;
	height: 2.4rem;

	background-image: url("./assets/icons/batata.svg");

	top: -1rem;
	left: calc(50% - 2rem);
}

.product-detail__title {
	width: 90%;
	height: auto;
	min-width: 288px;

	margin: 0 auto;
	margin-top: 5rem;

	text-align: center;
}

.product-detail__title h2 {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 2.6rem;

	color: var(--just-white);
}

.product-detail__title p {
	margin: 2rem 0;

	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;

	color: #808080;
}

.pruduct-detail__card {
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	min-height: 15rem;

	padding: 1.6rem;
	margin: 1.6rem auto;

	background-color: #282623;
	box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
	border-radius: 0.4rem;
}

.pruduct-detail__card .pruduct-detail__card-icon {
	/* Necesario para que se pueda mostrar la imagen*/
	display: inline-block;

	width: 2rem;
	height: 2rem;

	margin-bottom: 1rem;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.clock {
	background-image: url("./assets/icons/clock.svg");
}

.eye {
	background-image: url("./assets/icons/eye.svg");
}

.dollar {
	background-image: url("./assets/icons/dollar-sign.svg");
}

.check {
	background-image: url("./assets/icons/check-circle.svg");
}

.pruduct-detail__card .product__card-title {
	margin-bottom: 1.5rem;

	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.8rem;

	color: var(--just-white);
}

.pruduct-detail__card .product__card-body {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;

	color: #808080;
}

.bitcoin-img-container {
	width: 100%;
	min-width: 320px;
	height: 50vh;

	background-image: url("./assets/img/bitcoinbaby2x.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
	margin: 0 auto;
	padding-top: 6rem;

	font-size: 2.4rem;
	font-weight: 700;
	line-height: 2.6rem;
	color: var(--just-white);

	text-align: center;
}

.main-plans-container {
	width: 100%;
	min-width: 320px;

	padding-bottom: 7rem;

	text-align: center;
	background-color: var(--off-white);
}

.main-plans-container .plans-container__title {
	width: 90%;
	min-width: 288px;
	height: auto;

	margin: 0 auto;
	margin-bottom: 5rem;
}

.plans-container__title h2 {
	padding-top: 7rem;

	font-size: 2.4rem;
	font-weight: 700;
	line-height: 2.6rem;

	color: var(--black);
}

.plans-container__title p {
	margin-top: 3rem;

	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #757575;
}

.slider-container {
    width: 100%;
    position: relative;
}

.slider-container .arrow {
    position: absolute;
	bottom: calc(50% - 2rem);

	display: inline-block;

	width: 1.2rem;
    height: 1.2rem;

    
    z-index: 1;
    background-repeat: no-repeat;   
}
.slider-container #left-gray-arrow {
    left: calc(100% - 86%);
    background-image: url("./assets/icons/left-arrow.svg");
}

.slider-container #right-gray-arrow {
    right:  calc(100% - 86%);
    background-image: url("./assets/icons/right-arrow.svg");
}

.plans-container__slider {
	/* Generamos un overflow con flexbox*/
	display: flex;
	gap: 2rem;

	height: 31.6rem;

	/* Le decimos que genere un overflox en el eje x tipo scroll*/
	overflow-x: scroll;

	overscroll-behavior-x: contain;

	scroll-behavior: smooth;

	/* No deja que se quede en medio el scroll, no lleva a un tarjeta
	directamente */
	scroll-snap-type: x proximity;
}

.plans-container__slider::-webkit-scrollbar {
	display: none;
}

.plans-container__card {
	position: relative;

	/* Cuando hacemos scroll, intenta centarlo 
	en el elemento para verlo */
	scroll-snap-align: center;

	width: 70%;
	min-width: 190px;
	max-width: 300px;
	height: 25rem;

	margin: 5rem auto 0;

	padding: 0 1.5rem;

	background-color: var(--just-white);
	border-radius: 1.5rem;
	box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
}

#dummy {
    min-width: calc(100% - 70%);
    visibility: hidden;
}

.plans-container__card .recommended-title {
	position: absolute;
	left: calc(50% - 6rem);
	top: calc(0% - 1.55rem);

	width: 12rem;
	height: 3.1rem;

	padding: 0.8rem;

	font-family: "Inter";
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.5rem;

	background-color: var(--bitcoin-orange);
	border-radius: 0.8rem;
	color: var(--just-white);
}

.plan-info-container .plan-card__title {
	padding-top: 3rem;

	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;

	color: var(--black);
}

.plan-info-container .plan-card__price {
	padding: 0.5rem 0;

	font-family: "Inter";
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 6.3rem;

	color: var(--black);
}

.plan-card__price span {

	font-size: 1.2rem;
	font-weight: 500;

	/* El parrafo que es el padre y el span que esta dentro, tienen
	tamaños de fuente difirente, aqui es donde tanto el line-height
	como el vertical-align son fundamentales para conseguir el resultado
	final*/
	line-height: 3.5rem;

	vertical-align: text-top;
}

.plan-info-container .plan-card__saving {
	font-family: "Inter";
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.5rem;

	color: #757575;
}

.plan-card__ca {
	width: 15.1rem;
	height: 4.8rem;

	margin-top: 2rem;

	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.8rem;

	border-radius: 0.4rem;
	background-color: var(--off-white);
	border: 0.2rem solid var(--bitcoin-orange);
}

.plan-card__ca span {
	width: 2rem;
	height: 2rem;

	display: inline-block;
	background-image: url("./assets/icons/orange-right-arrow.svg");

	vertical-align: text-bottom;
}

.plans-container__card .recommended-title--basic {
	background-color: var(--secondary-blue);
}

.plans-container__card--limited {
	background-color: var(--warm-black);
}

.plans-container__card--limited .recommended-title {
	background-color: var(--grey);
	color: var(--black);
}

.plans-container__card--limited .plan-card__title,
.plans-container__card--limited .plan-card__price {
	color: var(--just-white);
}

.plans-container__card--limited .plan-card__saving {
	color: var(--grey);
}

.plans-container__card--limited .plan-card__ca {
	background-color: #282623;
	color: var(--just-white);
}

footer {
	width: 100%;
	height: 15rem;

	display: flex;

	background-color: var(--bitcoin-orange);
}

footer section {
	width: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

footer .left ul {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;

	list-style: none;
}

.left li {
	margin: 1rem 0;
}

.left a {
	text-decoration: none;
	color: var(--just-white)
}